{% extends 'layouts/base.html' %}

{% block title %} {{_('login_title')}} {% endblock %}

{% block content %}

    <div class="language-selector">
        <label> {{ _('label_language_selector_title') }}</label>
        <a href="/?lang=en">{{_('a_language_selector_en')}}</a>
        <a href="/?lang=lv">{{_('a_language_selector_lv')}}</a>
    </div>

    {% if message|length > 0 %}
        <div class="post-action-message"> {{ message }}</div>
    {% endif %}
    <div class="login-form">
    <form action="{{ url_for('login') }}" method="POST">
        <label> {{_('label_login_email_title')}} </label>
        <input type="email" name="email" />

        <label> {{_('label_login_password_title')}} </label>
        <input type="password" name="password" />
        <input type="submit" value="{{_('Login')}}" />
    </form>
    </div>

{% endblock %}