{% extends 'layouts/base.html' %}

{% block title %} Posts list {% endblock %}

{% block content %}
<div class="header-title"> List of potsts</div>
<div class="list-of-posts">
    {% for post in posts %}
    <div style="padding-left: {{ 50 * post.depth }}px">         <!-- <div class="post-row"> -->
        <div class="post-cell"> Title: {{ post.title }}</div>
        <div class="post-cell"> modified: {{ post.modified }}</div>
        <div class="action-cell">
            {% if is_logged_in %}
            <form action="{{ url_for('posts.post_delete', post_id=post.post_id) }}" method="POST">
                <input type="hidden" value="{{ post.post_id }}" name="post_id" />
                <input type="submit" value="delete" />
            </form>
            <form action="{{ url_for('posts.post_edit', post_id=post.post_id) }}" method="POST">
                <input type="hidden" value="edit" name="button_type" />
                <input type="hidden" value="{{ post.post_id }}" name="post_id" />
                <input type="submit" value="Edit" name="edit_post" />
            {% endif %}
            </form>
        </div>
    </div>
    {% endfor %}
</div>
    <br/>
    <br/>
    {% if message|length > 0 %}
        <div class="post-action-message"> {{ message }}</div>
    {% endif %}
    <a class="button" href="{{ url_for('posts.post_edit') }}"> New post </a>

    <a class="button" href="{{ url_for('logout') }}"> logout </a>

{% endblock %}