{% extends "layouts/base.html" %}

{% block title %}{% if post %} {_('Editing Post')} {% else %} {_('New Post')} {% endif %}{% endblock %}

{% block content %}

        <h1> {% if post %} {{ _('Edit post') }} {% else %} {{ _('New post') }} {% endif %} </h1>
        <div class="language-selector">
            <label> {{ _('language: ') }}</label>
            <a href="{{ url_for('posts.post_edit', post_id=post.post_id) }}?lang=en">{{_('English')}}</a>
            <a href="{{ url_for('posts.post_edit', post_id=post.post_id) }}?lang=lv">{{_('Latvian')}}</a>
        </div>
        <form action="{{ url_for('posts.post_edit') }}"
              method="POST"
              enctype="multipart/form-data"
              >
            <input type="hidden" name="post_id" value="{{ post.post_id if post else '' }}">
            <label>{{_('title')}}</label>
              <input type="text" name="post_title" value="{{ post.title if post else '' }}" />

            <label> {{_('body')}} </label>
            <label>
                <textarea name="post_body"> {{ post.body if post else '' }} </textarea>
            </label>
            <label> {{_('post parent')}}</label>
            <select name="parent_post_id">

                {% for item in post_parent_id_by_title %}
                    <option value="{{ item[0] }}" {% if post.parent_post_id == item[0] %} selected="true" {% endif %}>{{ item[1] }}</option>
                {% endfor %}
            </select>

            <label class="tags-title"> {{_('Tags')}} </label>
            <div class="tags">
                {% for tag in all_tags %}
                <div class="each-tag">
                    <span> {{ tag.label }} </span>
                    <input type="checkbox" name="post_tag_ids[]" value="{{ tag.tag_id }}"
                   {% if tag.tag_id in post_tag_ids %}
                    checked
                   {% endif %}/>

                </div>
                {% endfor %}
            </div>

            {% if post and post.thumbnail_uuids %}
            <div> {{_('current thumbnails:')}} </div>
            {% for thumbnail in post.thumbnail_uuids %}
            <img class="thumbnail" src="{{ url_for('static', filename='thumbnails/' + thumbnail.image_uuid) }}" />
            {% endfor %}
            {% endif %}
            <label> {{_('Thumbnail file')}} </label>
            <input type="file" name="file_thumbnail" multiple accept="image/png, image/jpeg, image/jpg">

            <div class="each-tag">
                <label for="multiprocessing"> _('Multiprocessing') </label><br>
              <input type="radio" id="multiprocessing" name="process_type[]" value="multiprocessing">
            </div>
            <div class="each-tag">
                <label for="threading"> _('threading') </label><br>
              <input type="radio" id="threading" name="process_type[]" value="threading">
            </div>
            <div class="each-tag">
                <label for="sequential"> _('sequential') </label><br>
              <input type="radio" id="sequential" name="process_type[]" value="sequential">
            </div>


            <label> {{_('PDF files')}} </label>
            <input type="file" name="file_pdf" multiple accept="application/pdf">
            <input type="submit" value={{_("Save")}} />
        </form>
{% endblock %}