{% extends "layouts/base.html" %}

{% block title %}{% if post %} Editing Post {% else %} New Post {% endif %}{% endblock %}

{% block content %}

        <h1> {% if post %} Edit post {% else %} New post {% endif %} </h1>
        <form action="{{ url_for('posts.post_edit') }}"
              method="POST"
              enctype="multipart/form-data"
        >
            <input type="hidden" name="post_id" value="{{ post.post_id if post else '' }}">
            <label>title</label>
              <input type="text" name="post_title" value="{{ post.title if post else '' }}" />

            <label> body</label>
            <label>
                <textarea name="post_body"> {{ post.body if post else '' }} </textarea>
            </label>
            <label>post parent</label>
            <select name="parent_post_id">

                {% for item in post_parent_id_by_title %}
                    <option value="{{ item[0] }}" {% if post.parent_post_id == item[0] %} selected="true" {% endif %}>{{ item[1] }}</option>
                {% endfor %}
            </select>

            <label class="tags-title">Tags</label>
            <div class="tags">
                {% for tag in all_tags %}
                <div class="each-tag">
                    <span> {{ tag.label }} </span>
                    <input type="checkbox" name="post_tag_ids[]" value="{{ tag.tag_id }}"
                   {% if tag.tag_id in post_tag_ids %}
                    checked
                   {% endif %}/>

                </div>
                {% endfor %}
            </div>

            {% if post and post.thumbnail_uuid %}
            <div> current thumbnail: </div>
            <img width="250px" src="{{ url_for('static', filename='thumbnails/' + post.thumbnail_uuid) }}" />
            {% endif %}
            <label> Thumbnail file </label>
            <input type="file" name="file_thumbnail">

            <label> PDF files </label>
            <input type="file" name="file_pdf" multiple>
            <input type="submit" value="Save" />
        </form>
{% endblock %}