{% extends "layouts/base.html" %}

{% block title %}{% if post %} Editing Post {% else %} New Post {% endif %}{% endblock %}

{% block content %}

        <h1> {% if post %} Edit post {% else %} New post {% endif %} </h1>
        <form action="{{ url_for('posts.post_edit') }}" method="POST">
            <input type="hidden" name="post_id" value="{{ post.post_id if post else '' }}">
            <label>TITLE</label>
              <input type="text" name="post_title" value="{{ post.title if post else '' }}" />

            <label> BODY</label>
            <label>
                <textarea name="post_body"> {{ post.body if post else '' }} </textarea>
            </label>

            <input type="submit" value="Save" />
        </form>
{% endblock %}