{% extends "layouts/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
        {% if post.thumbnail_uuids %}
        {% for thumbnail in post.thumbnail_uuids %}
        <img class="thumbnail-jpeg" src="{{ url_for('static', filename='thumbnails/' + thumbnail.image_uuid) }}" />

        {% endfor %}
        {% endif %}
        <h1> {{ post.title }} </h1>
        <p>
            {{ post.body }}
        </p>

            <span class="tags"> {{_('posts tags:')}} </span> <br>
            {% for tag in post.all_tags %}
            <span class="tag_label"> {{ tag.label }} </span>
            <div class="each-tag"></div>
            {% endfor %}
            <span class="attachment"> {{_('PDF files:')}} </span>
            {% if post.attachments %}
                {% for attachment in post.attachments %}
                    <a href="{{ url_for('static', filename='pdfs/' + attachment.attachment_uuid) }}" target="_blank">
                        {{ attachment.attachment_uuid }}
                    </a>
                {% endfor %}
            {% else %}
                <a> {{_('no pdfs uploaded')}} </a>
            {% endif %}
        <form action="{{ url_for('posts.post_delete', post_id=post.post_id) }}" method="POST">
            <input type="hidden" value="delete" name="button_type" />
            <input type="hidden" value="{{ post.post_id }}" name="post_id" />
            <input type="submit" value="{{_('Delete')}}" name="delete_post"/>
            </form>

        <a href="{{ url_for('posts.post_edit', post_id=post.post_id) }}" >
            <input type="hidden" value="edit" name="button_type" />
            <input type="hidden" value="{{ post.post_id }}" name="post_id" />
            <input type="submit" value="{{ _('Edit') }}" name="edit_post" />
        </a>
{% endblock %}