{% extends "layouts/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
        <div class="language-selector">
            <label> {{ _('label_language_selector_title') }}</label>
            <a href="{{ url_for('posts.post_view', url_slug=post.url_slug) }}?lang=en">{{_('a_language_selector_en')}}</a>
            <a href="{{ url_for('posts.post_view', url_slug=post.url_slug) }}?lang=lv">{{_('a_language_selector_lv')}}</a>
        </div>
        {% if post.thumbnail_uuids %}
        {% for thumbnail in post.thumbnail_uuids %}
        <img class="thumbnail-jpeg" src="{{ url_for('static', filename='thumbnails/' + thumbnail.image_uuid) }}" />

        {% endfor %}
        {% endif %}
        <h1> {{ post.title }} </h1>
        <p>
            {{ post.body }}
        </p>

            <span class="tags"> {{_('span_posts_tags_title')}} </span> <br>
            {% for tag in post.all_tags %}
            <span class="tag_label"> {{ tag.label }} </span>
            <div class="each-tag"></div>
            {% endfor %}
            <span class="attachment"> {{_('span_pdfs_files_title')}} </span>
            {% if post.attachments %}
                {% for attachment in post.attachments %}
                    <a href="{{ url_for('static', filename='pdfs/' + attachment.attachment_uuid) }}" target="_blank">
                        {{ attachment.attachment_uuid }}
                    </a>
                {% endfor %}
            {% else %}
                <a> {{_('a_no_pdfs_uploaded_text')}} </a>
            {% endif %}
        <br>
        <a href="{{ url_for('posts.post_delete', post_id=post.post_id) }}">
            <input type="hidden" value="delete" name="button_type" />
            <input type="hidden" value="{{ post.post_id }}" name="post_id" />
            <input type="submit" value="{{_('Delete')}}" name="delete_post"/>
        </a>
        <a href="{{ url_for('posts.post_edit', post_id=post.post_id) }}" >
            <input type="hidden" value="edit" name="button_type" />
            <input type="hidden" value="{{ post.post_id }}" name="post_id" />
            <input type="submit" value="{{ _('Edit') }}" name="edit_post" />
        </a>
{% endblock %}